:root {
    --primary: #F07900;
    --primary-lighter: #ffba6f;
    --primary-light: #F8A145;
    --primary-dark: #D35100;

    --secundary: #151515;
    --secundary-light: #292929;
    --secundary-dark: #000000;

    --grey: #d7d7d7;
    --grey-light: #f0f0f0;
    --grey-dark: #c0c0c0;

    --bg-color: #ffd7ac;

    --valid-color: rgb(69, 243, 69);
    --alert-color: yellow;
    --danger-color: red;
    --info-color: rgb(86, 86, 255);
}