footer {
    transform: translateY(54px);
    background-color: var(--primary);
    width: 100vw;
    height: fit-content;
    position: fixed;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-direction: row;
    transition: transform 1s;
    z-index: 2;
}

#myLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#myLinks a {
    padding: 10px;
}

#left-links, #right-links {
    justify-content: space-evenly;
    width: 35vw;
    display: flex;
    flex-direction: row;
}

#left-links img, #right-links img {
    width: 30px;
}

#burger-btn {
    position: static;
    transform: translateY(-54px);
    margin: auto;
    display: block;
    background-color: var(--primary);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border-width: 0;
    background-image: url(../Icons/up-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    transition: transform 1s;
}

#left-links button[name="deconnex"]{
    width: 50px;
    height: 50px;
    background-image: url(../Icons/logout.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}