* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 100vw;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

header {
    background-color: var(--primary);
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    /* padding: 0; */
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 10vh;
}

main {
    max-width: 100%;
}

header .logo {
    height: 10vh;
    margin: auto;
    display: block;
    filter: drop-shadow(0 0 5px white);
}

@media screen and (min-width: 1000px) {
    
    
}