@import url(palette.css);

.icon-btn {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 40px;
    background-size: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.icon-btn:hover {
    cursor: pointer;
    background-color: var(--primary);
}

#prevBtn {
    background-image: url(./Icons/left-arrow.png);
    float: left;
}

#nextBtn {
    background-image: url(./Icons/right-arrow.png);
    float: right;
}

button#register {
    background-image: url(./Icons/checkmark.png);
    background-position-x: 10px;
    background-size: 20%;
    width: fit-content;
    padding-right: 10px;
    padding-left: 20%;
    text-align: right;
    margin: 15% auto;
    background-color: var(--valid-color);
    box-shadow: 0 0 15px var(--primary-dark);
}

#burger-btn {
    background-image: url(../Icons/menu.png);
    background-color: var(--primary);
    transition: transform 1s;
}