@import url(./palette.css);

@font-face {
    font-family: 'Prompt';
    src: url(../Fonts/Prompt/Prompt-Regular.ttf) format('ttf');
}

#inscription .info-form {
    margin: 5%;
    padding: 5%;
    background-color: var(--primary-light);
    border: 3px solid var(--primary);
    border-top-width: 2px;
    box-shadow: 0 10px 0px var(--primary);
    border-radius: 10px;
    /* font-family: "Noto Sans"; */
    font-family: 'Prompt';
    letter-spacing: 1px;
}

#inscription .info-form legend {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#inscription .info-form .field {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

#inscription .info-form .field label {
    font-weight: bold;
}

#inscription .info-form .field input,
#inscription .info-form .field select {
    width: 90%;
    margin-left: 5%;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
}

#inscription .tab {
    display: none;
}

#inscription .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--primary-dark);
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#inscription .step.active {
    background-color: var(--primary-light);
}

#inscription .step.finish {
    background-color: var(--primary-lighter);
}

#inscription .connexion-suggestion {
    text-align: center;
}

#inscription .required-symbol {
    color: var(--primary-dark);
}

#inscription .final-step {
    flex-direction: column;
    justify-content: center;
}

#inscription .sub-text {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#inscription .info-small {
    font-size: 11px;
}

#inscription .icon-btn#nextBtn {
    background-image: url(../Icons/right-arrow.png);
    background-position: center;
    background-size: 50%;
}

#inscription .icon-btn#nextBtn {
    background-image: url(../Icons/left-arrow.png);
    background-position: center;
    background-size: 50%;
}