@import url(./palette.css);
/* import Prompt font */
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

#inscription .info-form {
    margin: 5%;
    padding: 5%;
    background-color: var(--primary-light);
    border: 3px solid var(--primary);
    border-top-width: 2px;
    box-shadow: 0 10px 0px var(--primary);
    /* font-family: "Noto Sans"; */
    font-family: Prompt;
    letter-spacing: 1px;
}

#inscription .info-form legend {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

#inscription .info-form .field {
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

#inscription .info-form .field label {
    font-weight: bold;
}

#inscription .info-form .field input,
#inscription .info-form .field select {
    width: 90%;
    margin-left: 5%;
    padding: 5px;
    border: none;
    border-bottom: 2px solid var(--primary-dark);
    background-color: rgba(255, 255, 255, 0.6);
}

#inscription .tab {
    display: none;
}

#inscription .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--primary-dark);
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

#inscription .step.active {
    background-color: white;
}

#inscription .step.finish {
    background-color: var(--valid-color);
}

#inscription .connexion-suggestion {
    text-align: center;
}

#inscription .required-symbol {
    color: var(--primary-dark);
}

#inscription .final-step {
    flex-direction: column;
    justify-content: center;
}

#inscription .sub-text {
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#inscription .info-small {
    font-size: 11px;
}

#inscription #btn-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

#inscription .icon-btn {
    background-position: center;
    background-size: 50%;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border-radius: 50px;
    border-width: 0;
    background-color: var(--primary-lighter);
}

#inscription #prevBtn {
    background-image: url(../Icons/left-arrow.png);
    float: right;
}

#inscription #nextBtn {
    background-image: url(../Icons/right-arrow.png);
    float: left;
}

#inscription .icon-btn[name="register"] {
    display: block;
    margin: 10% auto;
    background-image: url(../Icons/checkmark.png);
    background-position: 10%;
    background-size: 20%;
    font-size: 16px;
    width: 70%;
    background-color: var(--valid-color);
    text-align: right;
    padding-right: 10px;
}

#inscription #password-check {
    font-size: 16px;
    font-style: italic;
    filter: drop-shadow(0 0 1px rgba(0,0,0,0.5));
}