@import url(./palette.css);
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
    max-width: 100%;
}

#modifierUser {
    margin-top: 20px;
    margin-bottom: 70px;
}

form[name="user-card"] {
    margin: 5%;
    padding: 5%;
    background-color: var(--primary-light);
    border: 3px solid var(--primary);
    border-top-width: 2px;
    box-shadow: 0 10px 0px var(--primary);
    /* font-family: "Noto Sans"; */
    font-family: Prompt;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

form[name="user-card"] h3, form[name="user-card"] p {
    vertical-align: baseline;
}

form[name="user-card"] #title {
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary);
}

#modifierUser #back {
    background-image: url(../Icons/left-arrow.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: left 10px center;
    text-align: right;
    font-size: 22px;
    font-family: Prompt;
    padding: 10px;
    padding-left: 40px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    border-width: 0;
    background-color: var(--primary-light);
}

#modifierUser #user-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

form[name="user-card"] span {
    margin: 5px auto;
}

#modifierUser form[name="user-card"] .field input,
#modifierUser form[name="user-card"] .field select,
#modifierUser form[name="user-card"] .field textarea {
    padding: 2px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.3);
}

#modifierUser #user-img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}

#modifierUser form[name="user-card"] .field {
    display: flex;
    flex-direction: column;
    margin: 5px auto;
    width: 100%;
}

#modifierUser form[name="user-card"] .field label {
    align-self: flex-start;
}

button[name="update"] {
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
}

#modifierUser .icon {
    width: 20px;
    height: auto;
    align-self: center;
}