table {
    font-family: Prompt;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

tbody tr {
    height: 10vh;
}

thead tr {
    background-color: rgba(0,0,0,0.5);
    color: white;
}

td {
    padding: 10px;
    margin: 0;
}

tr:nth-child(odd):not(thead tr) {
    background-color: rgba(0,0,0,0.1);
}

.id-row {
    text-align: center;
    color: rgba(0,0,0,0.5);
    font-style: italic;
}